@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-black: hsl(0, 0%, 0%);
  --color-black-light: hsl(219, 70%, 9%);

  --color-blue: hsl(219, 100%, 80%);            /* #99bdff */
  --color-blue-dark: hsl(219, 70%, 25%);        /* #13326c */

  --color-lavanda: hsl(287, 100%, 80%);         /* #e999ff */
  --color-lavanda-dark: hsl(287, 30%, 51%);     /* #975da8 */

  --color-yellow: hsl(45, 100%, 80%);           /* # */

  --color-white: hsl(0, 0%, 85%);               /* #dadada */

  --background: var(--color-black);
  --background-tr: hsla(0, 0%, 0%, 0.4);

  --foreground: var(--color-white);

  --primary: var(--color-blue);
  --secondary: var(--color-lavanda);
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/OpenDyslexic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  border-color: rgb(68, 68, 68);
  border-radius: 0.75rem;
}
:focus-visible {
  color: var(--background);
  background-color: var(--foreground);
}

.open-dyslexic {
  font-family: 'OpenDyslexic', 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
  background-color: var(--background);
  color: var(--foreground);
}


main {
  width: 100%;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1em;
}

p {
  margin-bottom: 20px;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 2s ease-out forwards;
  will-change: opacity, transform;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  background: linear-gradient(
    to bottom,
    var(--background) 0%,
    var(--color-blue-dark) 70%
  );
}

.blend {
  mix-blend-mode: difference;
}
