@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {

  --color-blue-night: hsl(212, 30%, 17%); /* #1E2A38 */
  --color-blue: hsl(190, 100%, 73%);      /* #75E8FF */
  --color-blue2: hsl(200, 90%, 60%);      /* #3DB8F5 */
  --color-lavanda: hsl(287, 100%, 73%);   /* #E075FF */

  --color-orange: hsl(28, 100%, 73%);     /* #FFB575 */
  --color-yellow: hsl(60, 100%, 73%);     /* #FFFF75 */
  --color-grey: hsl(24, 5%, 64%);         /* #A8A29F */
  --color-white: hsl(40, 20%, 92%);       /* #EFECE7 */

  --background: var(--color-blue-night);
  --foreground: var(--color-white);
  --primary: var(--color-blue);
  --secondary: var(--color-lavanda);

    /* --hand-drawn-border: 255px 15px 225px 15px / 15px 225px 15px 255px; */
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/OpenDyslexic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

main {
  width: 100%;
}

a {
  transition: color 0.3s ease;
}
a:hover {
  color: var(--secondary);
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 2s ease-out forwards;
  will-change: opacity, transform;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
